

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  font-family : 'montserrat bold';
  src : url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat extralight';
  src: url('../font/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat light';
  src: url('../font/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat medium';
  src: url('../font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat regular';
  src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat semibold';
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}

$headfont:'montserrat semibold';
$parafont:'montserrat regular';
$verybold:'montserrat bold';

  .wf{
    width: 100%;
    float: left;
  }

  body{
    background: #2b2b2b !important;
    color: white !important;
  }

  .fl{
    float: left;
  }

  .fr{
    float: right;
  }

  @mixin txt-center{
    text-align: center;
  }

  @mixin ver-center{
    display: flex;
    vertical-align: middle;
    align-items: center;
  }


  