@import "common";

.hero{
  @include ver-center;

  & img{
    width: 100%;
  }

  & p{
    font-size: 35px;
    font-family: $headfont;
  }
}

.im{
  & h5{
    @include txt-center;
    font-size: 35px;
  }

  & .thin{
    font-family: 'montserrat medium';
  }

  margin: 30px 0;

  & h2{
    @include txt-center;
    font-size: 50px;
    font-family: $verybold;
  }
  & .subh{
    font-family: $headfont;
    font-size: 22px;
  }
}

.exper{
  & p:nth-child(1){
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  & p:nth-child(2),p:nth-child(3){
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffffe3;
  }
}

hr{
  height: 3px !important;
  margin-top: 0 !important;
  width: 30%;
  background: #e84c00;
  opacity: 1;
  border-radius: 25px;
}

.tools{
  list-style: none;
  padding: 0;
  & img{
    padding: 0 15px;
    width: 55px;
    height: 25px;
    object-fit: contain;
  }
  & li{
    margin: 10px 0;
  }
}

.tools.hire a{
  color: white;
  text-decoration:none;
}




/* -----------------------------------
      Gallery Section
--------------------------------------*/
.portfolio-section {
  padding: 50px 0;
  background-color: #2b2b2b;
}
.portfolio-section h2 {
  color: #fff;
}
.portfolio-menu {
  text-align: center;
}
.control {
  background: #2b2b2b;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #388b00;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}
.control:hover {
  background: #343a40;
}
.mixitup-control-active {
  color: #fff;
  background: #343a40;
}
.fancybox-container button:focus {
  outline: 0;
  box-shadow: none;
}
.portfolio-item {
  padding: 0;
}
.pd {
  padding: 0;
  padding: 10px;
}
.pd img {
  height: auto;
  width: 100%;
  transition: all 0.5s;
  object-fit: contain;
}
.portfolio-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
}
.portfolio-overlay p,
.portfolio-overlay a {
  position: relative;
  z-index: 4;
}
.portfolio-overlay::before {

  width: 0;
  height: 0;
  border-width: 0;
  position: absolute;
  left: 10%;
  top: 10%;
  transition: 50ms height ease 150ms;
  z-index: 3;
}
.portfolio-overlay::after {

  width: 0;
  height: 0;
  border-width: 0;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: 100ms width ease 200ms;
  z-index: 3;
}
.portfolio-item:hover .portfolio-overlay::before {
  width: 80%;
  height: 80%;
  border-top: 1px solid #50977f;
  border-right: 1px solid #50977f;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
}
.portfolio-item:hover .portfolio-overlay::after {
  width: 80%;
  height: 80%;
  border-bottom: 1px solid #50977f;
  border-left: 1px solid #50977f;
  transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
}
.portfolio-item li:hover .portfolio-overlay {
  visibility: visible;
  transform: scale(1);
}
.portfolio-overlay .category {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.portfolio-overlay .magnify-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #50977f;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.25s;
}
.portfolio-overlay .magnify-icon:hover {
  background: #000;
}
.portfolio-overlay .magnify-icon p span i {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}

/*******Responsive media query******/


