
:root {
    --font-default: 'montserrat regular';
    --font-primary: 'montserrat regular';
    --font-secondary: 'montserrat regular';
  }
  
  /*font-face*/ 
  
  @font-face{
    font-family : 'montserrat bold';
    src : url('/font/Montserrat-Bold.ttf') format('truetype');
  }
  
  @font-face{
    font-family: 'montserrat extrabold';
    src:url('/font/Montserrat-ExtraBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat extralight';
    src: url('/font/Montserrat-ExtraLight.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat light';
    src: url('/font/Montserrat-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat medium';
    src: url('/font/Montserrat-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat regular';
    src: url('/font/Montserrat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat semibold';
    src: url('/font/Montserrat-SemiBold.ttf') format('truetype');
  }

.wf{
    width:100%;
    float:left;
}

a{
  text-decoration: none;
}

body{
    font-family: 'montserrat regular';
    background: #1d1d1d;
color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.port-menu {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 16px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-navigation{
    height: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
    position: fixed;
    width: 100%;
    z-index: 1000000;
}

.port-menu li{
    padding: 20px;
}

.social-icons{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.headerBack{
    background: #1d1d1d;
    color: white;
    align-items: center;
}

.social-icons a:nth-child(1):hover{
    background: #0e76a8;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.social-icons a:nth-child(2):hover{
    background: #4267b2;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.social-icons a:nth-child(3):hover{
    background: #053eff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.social-icons a:nth-child(3) img{
    padding: 5px;
}

.social-icons a:nth-child(4):hover{
    background: #ea4c89;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.social-icons a:nth-child(4) img{
    padding: 3px;
}

.social-icons a:nth-child(5):hover{
    background: #2b2b2b;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.social-icons a:nth-child(6):hover{
    background: #6cc644;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000059;
}

.port-menu li:hover{
    background: #f80;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.filterDp{
    top: 0px;
    position: absolute;
    left: 70px;
}

.backOrg{
    position: relative;
}

.bannerSec{
    padding: 30px;
}

.orangetxt{
    color: #FF8800;
}

body p{
    color: #fff;
}

.head1{
    font-size: 60px;
    font-family: 'montserrat bold';
}

.head2{
    font-size: 40px;
    font-family: 'montserrat medium';
}

.bannerTit{
    display: grid;
    align-items: center;
    padding: 7%;
}

.grayback {
    background: #eaeaea;
   
   }

   .contents {
    list-style: none;
    display: flex;
    padding: 20px 0;
    gap: 4%;
    text-align: center;
    justify-content: center;
   }


   .container .card {
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	align-items: center;
	height: auto;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
	padding: 15px 10px 0px 10px;
}
.container .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.container .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#222;
  z-index:1000;
}
.percent .num {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.num img{
    width: 40%;
}

.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}

.text {
        position: relative;
        color: #fff;
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1px;
        transition: 0.5s;
        font-family: 'montserrat regular';
    }

.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card.xd svg circle:nth-child(2)
{
   stroke-dashoffset: 70;
   stroke: #f80;
}

.card.figma svg circle:nth-child(2)
{
   stroke-dashoffset: 160;
   stroke: #f80;
}
   
.card.adobe svg circle:nth-child(2)
{
   stroke-dashoffset: 180;
   stroke: #f80;
}

.card.miro svg circle:nth-child(2)
{
   stroke-dashoffset: 200;
   stroke: #f80;
}

.card.html svg circle:nth-child(2)
{
   stroke-dashoffset: 50;
   stroke: #f80;
}

.card.css svg circle:nth-child(2)
{
   stroke-dashoffset: 150;
   stroke: #f80;
}

.card.git svg circle:nth-child(2)
{
   stroke-dashoffset: 220;
   stroke: #f80;
}

.card.js svg circle:nth-child(2)
{
   stroke-dashoffset: 330;
   stroke: #f80;
}

.certified img{
    width: 8%;
}

.certified{
    text-align: left;
}

.certified a{
    text-decoration: none;
    color:white;
}

.hash{
    border: 1px solid #ffffff63;
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
}

.hash p{
    margin: 0;
color: #ffffff82;
}

.linear-black{
    background: linear-gradient(30deg,#242424,#242324);
    border-radius: 25px;
    padding: 20px;
}

.br25{
    border-radius: 25px;
    width: 50%;
}

.br25 img{
    border-radius: 25px;
object-fit: cover;
max-width: 100%;
width: 100%;
height: 300px;
}

.proj-name {
	font-size: 30px;
	font-weight: bold;
	text-transform: capitalize;
}

.proj-des {
	font-size: 16px;
	color: #ffffffe0;
}

.toolsused img{
    width: 15%;
}

.viewbtn{
    display: flex;
justify-content: space-evenly;
margin: 20px 0;
position: relative;
top: 25%;
}

.viewProj {
	padding: 10px 15px;
	background: none;
	border-radius: 5px;
	color: white;
	border: 1px solid #f80;
}

.count{
  font-size: 110px;
position: absolute;
right: 10%;
font-family: 'lato';
background-image: linear-gradient(180deg,#ffffff5e,#1d1d1d);
background-clip: text;
color: #fff0;
}

.mt-50{
  margin-top: 50px;
}

.sec-head{
  text-align: center;
}

.j-head{
  font-size: 35px;
  font-family: 'montserrat bold';
}

.period{
  background: #faebd721;
width: fit-content;
padding: 3px 10px;
border-radius: 5px;
}

.tools-p{
    background: #fffbfa0a;
width: fit-content;
padding: 3px 10px;
border-radius: 5px;
}

.jc-head{
  font-size: 20px;
  font-family: 'montserrat bold';
}

.tools-ul{
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  color: #00f3ff;
}

.logo-ul {
	display: flex;
	gap: 30px;
	list-style: none;
	padding: 25px;
	background: white;
	border-radius: 10px;
}

.logo-ul img{
    height: 35px;
}

