
 /*font-face*/ 

@font-face{
    font-family : 'dosis bold';
    src : url(font/Dosis-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'dosis extrabold';
    src:url(font/Dosis-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'dosis extralight';
    src: url(font/Dosis-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'dosis light';
    src: url(font/Dosis-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'dosis medium';
    src: url(font/Dosis-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'dosis regular';
    src: url(font/Dosis-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'dosis semibold';
    src: url(font/Dosis-SemiBold.ttf) format('truetype');
}

.wf{
    width:100%;
    float:left;
}
